:root {
  --header-color: #0d7377;
  --background-color: #323232;
  --dark-color: #212121;
  --bright-color: #14ffec;
}

html,
body {
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 50vh;
  aspect-ratio: 1 / 1;
  border: 5px solid var(--bright-color);
  grid-row: 2 / 3;
  grid-column: 2/3;
}

.board-field {
  background-color: beige;
  border: 1px solid black;
  display: flex;
  display: grid;
  place-items: center;
  font-size: 100px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr, 1fr, 0.1fr, 0.2fr;
  padding-top: 20px;
  gap: 10px;
}

button {
  border: none;
  border-radius: 10px;
  border: 3px solid var(--bright-color);
  background-color: beige;
  font-size: 20px;
}

#start-button {
  grid-column: 2 / 3;

  height: 40px;
  font-size: 25px;
}

#game-status {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
  color: white;
  font-size: 30px;
}

#controller {
  grid-column: 2/3;
  grid-row: 4/5;
  place-self: center;
}

#game-info {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#popup {
  display: none;
  grid-row: 2/3;
  grid-column: 3/4;
  flex-direction: column;
  align-items: center;
  color: white;
}

#popup > form > label {
  font-size: 20px;
}

#popup > form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}

#controller > form > button {
  border: none;
  border-radius: 10px;
  border: 3px solid var(--bright-color);
  height: 50px;
  padding: 13px;
  font-size: 20px;
  background-color: beige;
}

header {
  background-color: var(--header-color);
  text-align: center;
  align-content: center;
  font-size: 30px;
}

#form-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  border: none;
  border-radius: 5px;
  border: 3px solid var(--bright-color);
  background-color: beige;
  height: 25px;
}

#form-number > input {
  width: 200px;

  padding: 10px;
  font-size: 20px;
}
